@font-face{
    src: url(../fonts/big_noodle_titling.ttf);
    font-family: bigNoodleTitling;
}


@font-face{
    src: url(../fonts/Roboto-Thin.ttf);
    font-family: robotoThin;
}
@font-face{
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: robotoBold;
}
@font-face{
    src: url(../fonts/Roboto-BoldCondensed.ttf);
    font-family: robotoBoldCondensed;
}
@font-face{
    src: url(../fonts/Roboto-Light.ttf);
    font-family: robotoLight;
    font-size: 36px;
}
@font-face{
    src: url(../fonts/Roboto-Condensed.ttf);
    font-family: robotoCondensed;
}