@media screen and (max-width: 768px){
    .clients__slider{
        width: 70%;
    }
    .team__skills-info-item{
        display: block;
    }
}

@media screen and (max-width: 767px){
    
}

@media screen and (max-width: 500px){
    .portfolio__tabs-block-item {
        margin: 0px -4px 2px;
    }
    .tagline__text{
        h1{font-size: 2.5rem;}
        h3{font-size: 1.75rem;}
      }
}

